/* Acomodações */

h1 {
    text-align: center;
}

.acomodacoes_img {
   width: 350px;
   height: 250px;
}

.acomodacoes_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 5rem;
    gap: 15px;
}

/* Destaque */

h2 {
    text-align: center;
}

.destaque_img {
    width: 400px;
    height: 500px;
}

.destaque_container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    
}

.destaque_container > div:nth-child(2) {
    margin-left: 5rem;
}

.para_destaque {
    text-align: justify;
    margin: 0 auto;
    padding: 20px;

}


/* RESPONSIVE */

@media (max-width: 768px) {
    .acomodacoes_container {
        /* grid-template-columns: repeat(1, 1fr); */
        display: block;
    }

    .destaque_container {
        /* grid-template-columns: 1fr; */
        display: block;
    }

    .para_destaque {
        margin-left: 7rem;
        text-align: justify;
    
    }

    .destaque_img {
        width: 250px;
        height: 300px;
    }
}
