/* Acomodações */

h1 {
    text-align: center;
}

.acomodacoes_img {
    width: 350px;
    height: 250px;
}

.acomodacoes_container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.acom_text {
    display: grid;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    font-weight: 700;
    background-color: #c4972e;
    color: #283618;
    margin-top: -0.2em;
}

/* Destaque */

.acomodacoes_text {
    text-align: center;
}

.acomodacoes_text h1 {
    padding-top: 1em;
    font-size: 2.5em;
}

.acomodacoes_text p {
    font-size: 1.2em;
    max-width: 70%;
    margin: auto;
    padding-bottom: 1.5em;
}
.destaque_img {
    object-fit: cover;
    width: 30em;
    height: 25em;
    border-radius: 5em 5em 0 0;
}

.destaque_container {
    padding: 5em;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin: auto;
}

.destaque_container h2 {
    line-height: 1.4;
    font-size: 2.4em;
    color: #c4972e;
}

.destaque_container p {
    line-height: 1.6;
    font-size: 1.4em;
    padding: 1.4em 1.4em 0 0;
    
}


/* RESPONSIVE MOBILE 915px */

@media (max-width: 915px) and (orientation:landscape) {

    .acomodacoes_text h1 {
        padding-top: 1em;
        font-size: 2em;
    }

    .acomodacoes_text p {
        font-size: 1em;
        max-width: 50%;
        margin: auto;
        padding-bottom: 1.5em;
        text-align: justify;
    }
    
    
    .acomodacoes_container {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 915px;
        margin: 0 auto;
    }

    .destaque_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5em;
        max-width: 915px;
        align-items: center;
        margin-top: 2rem;
        margin: auto;
    }

    .acom_text {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        font-size: 1.2em;
        padding: 0.5em;
        font-weight: 700;
        background-color: #c4972e;
        color: #283618;
        margin-top: -0.3em;
    }

    .destaque_container h2 {
        line-height: 0.5;
        font-size: 2em;
        color: #c4972e;
    }
    
    .destaque_container p {
        display: block;
        grid-template-columns: 1fr;
        font-size: 1em;

        line-height: 1;
        font-size: 1em;
        
    }

    .destaque_img {
        object-fit: cover;
        width: 25em;
        height: 20em;
        border-radius: 5em 5em 0 0;
    }
}

@media (max-width: 414px) and (orientation: portrait) {

    

    .acomodacoes_text h1 {
        padding-top: 1em;
        font-size: 2em;
    }

    .acomodacoes_text p {
        font-size: 1em;
        max-width: 80%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    
    .acomodacoes_img {
        width: 300px;
        height: 200px;
    }
    
    .acomodacoes_container {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        max-width: 414px;
        margin: 0 auto;
        margin-left: 1em;
    }

    
    .destaque_container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5em;
        max-width: 414px;
        align-items: center;
        margin-top: 2rem;
        margin: 0 auto;
        text-align: justify;
    }

    .botaoEscuroMenor {
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .destaque_container h2 {
        line-height: 0.5;
        font-size: 1.5em;
        color: #c4972e;
    }
    
    .destaque_container p {
        grid-template-columns: 1fr;
        font-size: 1em;
        text-align: justify;
        line-height: 1;
        
    }


    .destaque_img {
        object-fit: cover;
        width: 300px;
        height: 200px;
        border-radius: 3em 3em 0 0;
    }
    
}


