/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

a {
  text-decoration: none;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* 10px - 12px */
/* 12px - 14px */
/* 14px - 16px */
/* 16px - 18px */
/* 20px - 24px */
/* 28px - 32px */
/* 32px- 40px*/
/* 40px - 48px */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c4972e;
}

h1 {
  font-size: clamp(2.5rem, 2.3298rem + 0.8377vw, 3rem);
}

h2 {
  font-size: clamp(2rem, 1.8298rem + 0.8377vw, 2.5rem);
}

body {
  background-color: #fffef5;
  color: #283618;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.9575rem + 0.2094vw, 1.125rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-cursive {
  font-family: "Satisfy", cursive;
}

.main__header .header__logo__container {
  background-color: #fffef5;
  padding-block: 1rem;
}
.main__header .header__logo__img {
  display: block;
  height: calc(96px + 10vh);
  margin-inline: auto;
}
.main__header .header__container {
  background-color: #283618;
}
.main__header .header__container .header__wrapper {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
}
.main__header .header__container .main-navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: space-between;
  list-style: none;
  padding-block: 1.25rem;
}
@media (max-width: 1024px) and (orientation: portrait) {
  .main__header .header__container .main-navigation {
    flex-direction: column;
  }
}
@media (max-width: 915px) and (orientation: landscape) {
  .main__header .header__container .main-navigation {
    flex-direction: column;
  }
}
@media (max-width: 414px) and (orientation: portrait) {
  .main__header .header__container .main-navigation {
    flex-direction: column;
  }
}
.main__header .header__container .main-navigation li a {
  font-size: clamp(1rem, 0.9575rem + 0.2094vw, 1.125rem);
  color: #fffef5;
  padding-bottom: 0.5rem;
  background: linear-gradient(90deg, #c4972e 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(#c4972e 0 0) 0% 100%/var(--_p, 0%) 0.1rem no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.main__header .header__container .main-navigation li a:hover {
  --_p: 100%;
}

.footer__container {
  background-color: #283618;
}
.footer__container .footer__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
  padding-block: 1rem;
}
@media (max-width: 1024px) and (orientation: portrait) {
  .footer__container .footer__wrapper {
    flex-direction: column;
  }
}
.footer__container .footer__wrapper .footer__logo {
  height: calc(64px + 5vh);
}
@media (max-width: 414px) and (orientation: portrait) {
  .footer__container .footer__wrapper .footer__logo {
    display: none;
  }
}
.footer__container .footer__wrapper .footer__navigation {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}
@media (max-width: 1194px) and (orientation: landscape) {
  .footer__container .footer__wrapper .footer__navigation {
    flex-direction: row;
  }
}
.footer__container .footer__wrapper .footer__navigation li a {
  color: #fffef5;
}
.footer__container .footer__social {
  justify-content: center;
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer__container .footer__social li a {
  aspect-ratio: 1;
  display: inline-block;
  width: 32px;
  background-size: cover;
}
.footer__container .footer__social li a[data-social=facebook] {
  background-image: url("../../images/facebook.svg");
}
.footer__container .footer__social li a[data-social=instagram] {
  background-image: url("../../images/instagram.svg");
}
.footer__container .footer__social li a[data-social=whatsapp] {
  background-image: url("../../images/whatsapp.svg");
}
.footer__container .footer__social li a[data-social=email] {
  background-image: url("../../images/o-email.svg");
}
.footer__container .copyright {
  background-color: #fffef5;
  display: block;
  font-size: clamp(0.875rem, 0.8325rem + 0.2094vw, 1rem);
  padding-block: 0.5rem;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
