* {
    font-family: Montserrat, arial, sans-serif;
}

p,
h1,
h2,
span,
div {
    margin: 0;
    padding: 0;
}

main {
    width: 80vw;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

article {
    margin: 6vh 0;
}
/*section reserva*/
section.reserva_check_in {
    margin: 0 auto;
    margin-top: 6vh;
    font-size: 1.2rem;
    text-align: center;
}

.reserva_check_in_container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.reserva_check_in_h1 {
    font-size: 2rem;
    margin-bottom: 2vh;
    color: var(--cor-destaque);
}

.reserva_check_in_p {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2vh;
}

.reserva_check_in_container input[type="date"],
input[type="number"] {
    display: block;
    margin: 0.6rem auto;
}

input[type="date"],
input[type="number"] {
    padding: 1rem;
    max-width: 10rem;
    align-items: center;
    height: 1.8rem;
    border-radius: 1rem;
}

hr {
    max-width: 50%;
    margin: 1rem auto;
}

.reserva_conteudo {
    text-align: center;
    margin-right: 2vw;
    margin-bottom: 1.5vh;
}

.reserva_quarto p {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cor-principal);
}

/*article galeria*/
.container_geral {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2%;
    margin-bottom: 5vh;
    max-width: 85%;
    align-items: center;
}

.container_geral img {
    width: 100%;
    max-width: 25rem;
    border-radius: 2rem;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.container_geral h2 {
    font-weight: 500;
    margin-bottom: 2vh;
    color: var(--cor-destaque);
}

.container_geral p {
    font-size: 1.1rem;
    margin-bottom: 2vh;
}

.container_geral span {
    display: block;
    margin-bottom: 2vh;
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--cor-principal);
}

.container_geral label {
    color: var(--cor-secundaria);
}

.reserva_label {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--cor-destaque);
    clear: both;
    padding: 0.6rem;
}

input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
    cursor: pointer;
    accent-color: #606c38;
}

/*previewer*/

.previewer {
    background-color: var(--cor-apoio-claro);
    width: 100%;
    max-width: 330px;
    line-height: 3rem;
    padding: 1rem;
    position: fixed;
    top: 40vh;
    right: 0;
    border-radius: 10px 0 0 10px;
}

.previewer_conteudo {
    padding: 0.5rem;
    border: solid 1px rgb(218, 187, 120);
}

/*media queries*/

@media (max-width: 1515px) {
    .container_geral p {
        max-width: 80%;
    }
}

@media (max-width: 1170px) {
    .container_geral p {
        grid-template-columns: repeat(auto-fill, minmax(auto));
        max-width: 60%;
    }
    .container_geral img {
        width: 100%;
    }
}

@media (max-width: 979px) {
    main {
        position: static;
    }
    .previewer {
        position: static;
        border-radius: 8px;
    }
}

@media (max-width: 570px) {
    .reserva_check_in_container {
        display: block;
    }
}

@media (max-width: 460px) {
    main {
        width: min-content;
    }

    .container-1 img {
        width: 80%;
        padding: 0;
        margin: 0;
    }
}
