
.hero-image2 {
    background-image: url("/images/sobre.webp");
    height: calc(20rem + 10vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    display: flex;
    gap: 1rem;
}
.hero__content {
    text-align: center;
}

.hero__content h1 {
    font-size: 3rem;
}
.hero__content h3 {
    font-family: "Satisfy", cursive;
    font-size: 3rem;
    font-weight: 300;
    color: #c4972e;
}
.hero__content p {
    margin-block-start: 1rem;
    font-size: 1.4em;
    line-height: 1.6;
    padding-bottom: 1.5em;
}

.main__container {
    margin-inline: auto;
    width: 80%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
}
.main__section article h3 {
    font-size: 2rem;
    justify-content: center;
    margin-block-end: 0.5;
    text-align: center;
}
.main__section article p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
}

/*.main__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem;
}*/
.main__gallery{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-block: 2rem;
}

.main__gallery img {
    width: 100%;
    height: calc(120px + 15vh);
}

.map {
    display: block;
    border: none;
    margin-inline: auto;
    max-width: 42rem;
    height: 50vh;
    width: 100%;
}

.botaoEscuroMaior2 {
    display: block;
    margin-inline: auto;
    margin-block: 2rem;
    border: 0;
    font-weight: 500;
    padding: 1em;
    border-radius: 8px;
    background-color: var(--background-escuro);
    color: var(--cor-letra-clara);
    text-decoration: none;
    width: fit-content;
}

.botaoEscuroMaior2:hover {
    font-weight: 800;
    text-decoration: none;
    background-color: #c4972e;
    color: var(--cor-letra-clara);
}

.map {
    -webkit-filter: grayscale(100%);
}
