.container2 {
    width: 100%;
    width: 1200px;
    margin-inline: auto;
}

.hero-image2 {
    background-image: url("/images/sobre.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
}

.hero {
    display: flex;
    gap: 1rem;
}
.hero__content {
    text-align: center;
}

.hero__content h1 {
    font-size: 3rem;
}
.hero__content h3 {
    font-family: "Satisfy", cursive;
    font-size: 3rem;
    font-weight: 300;
    color: #c4972e;
}
.hero__content p {
    margin-block-start: 1rem;
    font-size: 1.4em;
    line-height: 1.6;
    padding-bottom: 1.5em;
}

.main__container {
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-block: 2rem;
}
.main__section article h3 {
    font-size: 2rem;
    justify-content: center;
    margin-block-end: 0.5;
    text-align: center;
}
.main__section article p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
}

.main__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem;
}
.main__gallery img {
    height: 14rem;
    flex-grow: 1;
    min-width: 320px;
}

.botaoEscuroMaior2 {
    display: block;
    margin: auto;
    min-width: 30em;
    margin-top: 3em;
    margin-bottom: 1em;
    border: 0;
    font-size: 1em;
    font-weight: 500;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--background-escuro);
    color: var(--cor-letra-clara);
}

.botaoEscuroMaior2:hover {
    font-weight: 800;
    text-decoration: none;
    background-color: #c4972e;
    color: var(--cor-letra-clara);
}

.map {
    -webkit-filter: grayscale(100%);
}
