.hero-image {
    background-image: url("../images/sobre.webp");
    height: calc(20rem + 10vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    text-align: center;
}

.hero__content p {
    font-size: var(--text-lg);
    max-width: 70ch;
    margin-inline: auto;
}

.main__container {
    margin-inline: auto;
    width: 90%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-block: var(--spacing-2xl);
}

.chales__section {
    margin-block: var(--spacing-2xl);
    text-align: center;
}

.chales__section p {
    max-width: 70ch;
    margin-inline: auto;
    font-size: var(--text-lg);
}

.main__gallery {
    display: grid;
    gap: var(--spacing-base);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-block: var(--spacing-2xl);
}

.main__gallery img {
    width: 100%;
    height: calc(120px + 15vh);
}

.map {
    display: block;
    border: none;
    margin-inline: auto;
    max-width: 42rem;
    height: 50vh;
    width: 100%;
}

.botaoEscuroMaior2 {
    display: block;
    margin-inline: auto;
    margin-block: var(--spacing-xl);
    border: 0;
    font-weight: 500;
    padding-block: var(--spacing-sm);
    padding-inline: var(--spacing-lg);
    border-radius: 8px;
    background-color: var(--background-escuro);
    color: var(--cor-letra-clara);
    width: fit-content;
}

.botaoEscuroMaior2:hover {
    background-color: #c4972e;
}

.map {
    -webkit-filter: grayscale(100%);
}
