@use "../sass-utils/_variaveis.scss" as v;

.main__header {
    .header__logo__container {
        background-color: v.$background-primario-claro;
        padding-block: v.$spacing-base;
    }

    .header__logo__img {
        display: block;
        height: calc(96px + 10vh);
        margin-inline: auto;
    }

    .header__container {
        background-color: v.$background-escuro;

        .header__wrapper {
            width: 90%;
            max-width: 1280px;
            margin-inline: auto;
        }

        .main-navigation {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: v.$spacing-lg;
            justify-content: space-between;
            list-style: none;
            padding-block: v.$spacing-lg;

            @media (max-width: 1024px) and (orientation: portrait) {
                flex-direction: column;
            }

            @media (max-width: 915px) and (orientation: landscape) {
                flex-direction: column;
            }

            @media (max-width: 414px) and (orientation: portrait) {
                flex-direction: column;
            }

            li a {
                font-size: v.$text-base;
                color: v.$cor-letra-clara;
                padding-bottom: v.$spacing-sm;
                background: linear-gradient(90deg, v.$cor-destaque 50%, #000 0)
                        calc(100% - var(--_p, 0%)) / 200% 100%,
                    linear-gradient(v.$cor-destaque 0 0) 0% 100% / var(--_p, 0%)
                        0.1rem no-repeat;
                -webkit-background-clip: text, padding-box;
                background-clip: text, padding-box;
                transition: 0.5s;

                &:hover {
                    --_p: 100%;
                }
            }
        }
    }
}
